<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back to dashboard</a>
    <h2 class="title mt-5">Create new blog post </h2><hr>

    <form class="new-post-form">

        <div>
            <label for="post-title">Title:</label>
            <input type="text" class="input" id="post-title" name="post-title" placeholder="Enter the title of your blog here" />
        </div>

        <div>
            <label for="post-content">Content:</label>
            <input type="text" class="textarea" id="post-content" name="post-content" placeholder="Enter the content of your blog here"  />
        </div>

        <button class="button is-primary is-pulled-right" type="submit">CREATE POST</button>
    </form>
</section>
 <script> src="/javascript/add-post.js"</script>
