<div class="column">
  <h2 class="title pb-4"> Sign On </h2>
  <hr>
  <form class="login-form">
    <div>
      <label for="email-login">Email Address:</label>
      <input type="text" id="email-login" />
    </div>

    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <p> Already enrolled?</p>

    <div>
      <button type="submit" class="button signon">Sign On</button>
    </div>
    <p>Let's get you enrolled</p>

    <div>
      <a href="/signup"> <button type="button" class="button signup ">Create Account</button></a>
    </div>

  </form>
</div>

<script src="/javascript/login.js"></script>